### All Library Import

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('../data_set/newsdata_set.csv')

In [6]:
df.head()

                                            headline   category
0  Over 4 Million Americans Roll Up Sleeves For O...  U.S. NEWS
1  American Airlines Flyer Charged, Banned For Li...  U.S. NEWS
2  23 Of The Funniest Tweets About Cats And Dogs ...     COMEDY
3  The Funniest Tweets From Parents This Week (Se...  PARENTING
4  Woman Who Called Cops On Black Bird-Watcher Lo...  U.S. NEWS

In [7]:
df.shape

(209527, 2)

In [8]:
df.groupby('category')['category'].agg('count')

category
ARTS               1509
ARTS & CULTURE     1339
BLACK VOICES       4583
BUSINESS           5992
COLLEGE            1144
COMEDY             5400
CRIME              3562
CULTURE & ARTS     1074
DIVORCE            3426
EDUCATION          1014
ENTERTAINMENT     17362
ENVIRONMENT        1444
FIFTY              1401
FOOD & DRINK       6340
GOOD NEWS          1398
GREEN              2622
HEALTHY LIVING     6694
HOME & LIVING      4320
IMPACT             3484
LATINO VOICES      1130
MEDIA              2944
MONEY              1756
PARENTING          8791
PARENTS            3955
POLITICS          35602
QUEER VOICES       6347
RELIGION           2577
SCIENCE            2206
SPORTS             5077
STYLE              2254
STYLE & BEAUTY     9814
TASTE              2096
TECH               2104
THE WORLDPOST      3664
TRAVEL             9900
U.S. NEWS          1377
WEDDINGS           3653
WEIRD NEWS         2777
WELLNESS          17945
WOMEN              3572
WORLD NEWS         3299
WORLDPOST          2579
Name: category, dtype: int64

In [9]:
df1 = df[df['category'].isin(['SPORTS','TECH','POLITICS','SCIENCE','ENTERTAINMENT','RELIGION','EDUCATION','ENVIRONMENT'])]

In [10]:
df1.head(10)

                                             headline       category
13  Twitch Bans Gambling Sites After Streamer Scam...           TECH
17  Maury Wills, Base-Stealing Shortstop For Dodge...         SPORTS
20  Golden Globes Returning To NBC In January Afte...  ENTERTAINMENT
21  Biden Says U.S. Forces Would Defend Taiwan If ...       POLITICS
24  ‘Beautiful And Sad At The Same Time’: Ukrainia...       POLITICS
26  Las Vegas Aces Win First WNBA Title, Chelsea G...         SPORTS
28  James Cameron Says He 'Clashed' With Studio Be...  ENTERTAINMENT
30  Biden Says Queen's Death Left 'Giant Hole' For...       POLITICS
32  First Public Global Database Of Fossil Fuels L...    ENVIRONMENT
34  Alaska Prepares For 'Historic-Level' Storm Bar...    ENVIRONMENT

In [11]:
df1.shape

(67386, 2)

In [12]:
def headline_convert(df): 
    category_mapping = {
        'SPORTS': '000',
        'TECH': '001',
        'POLITICS': '010',
        'SCIENCE': '011',
        'ENTERTAINMENT': '100',
        'RELIGION': '101',
        'EDUCATION': '110',
        'ENVIRONMENT': '111',       
    }
    for index, row in df.iterrows():
        category = row['category']
        binary_code = category_mapping.get(category)
        if binary_code is not None:
            df.at[index, 'category'] = binary_code

In [13]:
headline_convert(df1)

In [14]:
df1.head(10)

                                             headline category
13  Twitch Bans Gambling Sites After Streamer Scam...      001
17  Maury Wills, Base-Stealing Shortstop For Dodge...      000
20  Golden Globes Returning To NBC In January Afte...      100
21  Biden Says U.S. Forces Would Defend Taiwan If ...      010
24  ‘Beautiful And Sad At The Same Time’: Ukrainia...      010
26  Las Vegas Aces Win First WNBA Title, Chelsea G...      000
28  James Cameron Says He 'Clashed' With Studio Be...      100
30  Biden Says Queen's Death Left 'Giant Hole' For...      010
32  First Public Global Database Of Fossil Fuels L...      111
34  Alaska Prepares For 'Historic-Level' Storm Bar...      111

In [15]:
df1.groupby('category')['category'].agg('count')

category
000     5077
001     2104
010    35602
011     2206
100    17362
101     2577
110     1014
111     1444
Name: category, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,Y_train,Y_test=train_test_split(df1.headline,df1.category,test_size=0.3)

In [20]:
X_train.shape

(47170,)

In [21]:
X_test.shape

(20216,)